/* ------------------POTION LIST------------------ */
.potionList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.potionItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem;
  list-style: none;
  border: var(--navbar-text-color) 1px solid;
  border-radius: 0;
  background-color: var(--light-background-color);
  padding: 5px;
  width: 100%;
}
.potionName {
  font-weight: bold;

  font-size: 1.2rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}
/* ------------------GRID ELEMENT------------------ */

.gridElement {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 1rem;
}
/* IMAGE CONTAINER */

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
.potionImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0;
}

p {
  margin: 0;
}
