.onlineUsersContainer {
  box-shadow: 0 4px 24px rgba(124, 94, 191, 0.1);
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px 0;
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  background-color: #23232b;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
  border-radius: 16px;
  border: 2px solid #7c5ebf;
  color: #b0aac2;
}
/* ---------------Online users list styles -------------------*/

.onlineUsersList {
  list-style: none;
  padding: 0;
}

.onlineUserItem {
  display: flex;
  align-items: center;
}
/* -----------------USER AVATAR STYLES----------------- */

.userAvatar {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid #7c5ebf;
  box-shadow: 0 0 12px #b0aac2;
  background: linear-gradient(135deg, #23232b 60%, #7c5ebf 100%);
  object-fit: cover;
}

.adminAvatar {
  border: 3px solid #ff2a2a;
  box-shadow: 0 0 18px 4px #ff2a2a, 0 0 12px #b0aac2;
}
