.profileFrame {
  height: 300vh;
  width: 300%;
  border: var(--border-size) solid var(--border-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.profileText {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.editorWrapper {
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 900px;
}
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  margin: 10px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.editButton:hover {
  background-color: var(--secondary-color);
}

.saveButton {
  padding: 1rem;
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .editorWrapper {
    width: 40vh;
  }
  .profileFrame {
    height: 100vh;
    width: 120%;
    border-radius: 10px;
  }
}
