.classRooms,
.RpgRulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #23232b;
  border-radius: 0;
}

.RpgRules {
  background-color: #23232b;
  padding: 5rem;
  border-radius: 0;
  border: 2px solid #b0aac2;
  color: #b0aac2;
}
/* ---------------RESPONSIVE---------------------- */
@media screen and (max-width: 768px) {
  .RpgRulesContainer {
    padding: 1rem;
  }
}
