.profileWrapper {
  background-color: var(--light-background-color);
  width: 100%;
  min-height: 100vh;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  height: auto;
  max-height: 100vh;
  border: var(--border-size) solid var(--border-color);
  background: var(--background-color);
  width: 100%;
}

.profileTextContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  gap: 20px;
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 50%;
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid goldenrod;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.caracterDetails {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.characterDetailsContainer {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  border: 2px solid goldenrod;
  background: var(--contrast-background-color);
  gap: 5rem;
  width: 100%;
}

.chatBar {
  width: 100%;
  height: 100%;
}

.chatContainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .profileWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
  }

  .profileTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .characterDetailsContainer {
    width: 80%;
    max-width: 800px;
    margin: 10px auto;
    flex-direction: row;
    gap: 2rem;
    border-radius: 10px;
  }

  .chatContainer {
    display: none;
  }
}
