html,
body {
  height: 500vh;
}

.profileWrapper {
  background-color: var(--light-background-color);
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  height: auto;
  max-height: 100vh;
  border: var(--border-size) solid var(--border-color);
  background: var(--background-color);
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 50%;
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid goldenrod;
}
.characterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.caracterDetails {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.characterDetailsContainer {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  border: 2px solid goldenrod;
  background: var(--contrast-background-color);
  gap: 5rem;
  width: 100%;
}

.profileTextContainer {
  justify-content: center;
  width: 100%;
}
