/* ------------------Html/Css------------------ */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
/* container styles */
.editorContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.editorWrapper {
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
