/* ---------- */
.profileWrapper {
  background-color: var(--light-background-color);
  padding: var(--main-padding);
  height: 400vh;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  max-height: 100vh;
  border: var(--border-size) solid var(--border-color);
  background: var(--background-color);
}

/* -------------------------IMAGE CONTAINER------------------------- */
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  height: 50%;
  gap: 1rem;
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid goldenrod;
}
/* -------------------------CHARACTER INFO------------------------- */
.characterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300vh;
}

.characterDetailsContainer {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  border: 2px solid goldenrod;
  background: var(--contrast-background-color);
  gap: 5rem;
  width: 100%;
}

/* -------------------------PROFILE HTML CONTAINER------------------------- */
.profileHtmlContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 300vh;
  padding: 1rem;
}
.profileIframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: auto;
  border-radius: 10px;
}
.profileTextContainer {
  color: var(--text-color);
}
/* -------------------------RESPONSIVE------------------------- */
@media screen and (max-width: 1000px) {
  .profileWrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
  }

  .characterDetailsContainer {
    width: 70%;
    margin: 10px auto;
  }
  .profileHtmlContainer {
    display: flex;
  }
  .chatContainer {
    display: none;
  }
}
