@import "../variables.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--navbar-background);
  width: 100%;
  height: var(--navbar-height);

  box-sizing: border-box;
}
/* -----------------MENU ITEMS--------------------------- */
.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--button-text-color);
}
/* -----------------SIGN OUT BUTTON--------------------------- */
.signOutBtn {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.signOutBtn:hover {
  background-color: var(--button-hover-background);
}

/* CLASSROOMS DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 5px;
}

.dropdown:hover .dropdownContent {
  display: block;
  background-color: var(--navbar-rolldown-background);
}

@media (max-width: 1000px) {
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    width: 100%;
  }

  .navbar a {
    font-size: var(--navbar-mobile-text-size);
    transition: font-size 0.5s ease;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .signOutBtn {
    padding: 0.2rem;
  }
}
