.verifyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100vh;
}

/* /* ----------------BUTTONG STYLES--------------------- * */
.verifyBtn {
  background-color: transparent;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  cursor: pointer;
}
