/* ------------------SIGN UP CONTAINER------------------ */
.signUpContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 100px;
}

.signUpForm {
  display: flex;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  padding: 1.5rem;
  justify-content: center;
  gap: 1rem;
  color: goldenrod;
  text-transform: uppercase;
  font-weight: 600;
  backdrop-filter: blur(10px);
  border: var(--secondary-color) solid 2px;
}

.formGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.formGroupTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: goldenrod;
  text-transform: uppercase;
}

/* ------------------INPUT GROUP------------------ */

.inputGroup {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0.5rem;
}

/* ------------------IMAGE PREVIEW------------------ */

.styleImagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 2px solid goldenrod;
  border-radius: 10px;
  margin: 1%;
}

/* ------------------IMAGE BUTTON------------------ */

.removeImageBtn {
  background-color: var(--secondary-color);
  color: var(text-color);
  border: none;
  font-size: large;
  cursor: pointer;
  margin-top: 0.5rem;
}

.signUpBtn {
  background-color: goldenrod;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  font-size: large;
  margin: 1rem;
}

/* ------------------HOUSE SORTING styles------------------ */

.houseSorting {
  display: flex;
  justify-content: center;
}

.sortingQuizButton {
  background-color: goldenrod;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
}

.signUpBtn:hover {
  background-color: rgb(119, 113, 106);
  cursor: pointer;
}

/* ------------------INPUT STYLES------------------ */
input {
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: transparent;
}
input::placeholder {
  color: goldenrod;
  transform: uppercase;
}
/* ------------------BACKGROUND VIDEO------------------ */
.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}
/* ------------------RESPONSIVE------------------ */
@media screen and (max-width: 912px) {
  .signUpForm {
    min-width: 100%;
    max-height: 100%;
  }
}
