body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}
.potionsClass {
  background-color: var(--primary-color);
  top: 0;
  left: 0;
}

.title {
  color: var(--secondary-color);
  text-transform: uppercase;
}
