/* ------------------CLASSROOMS styles------------------ */
.classRooms {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #23232b;
  border-radius: 0;
}

.classromRulesContainer {
  padding: 5rem;
  border-radius: 0;
  background-color: #23232b;
  border: 2px solid #b0aac2;
  color: #b0aac2;
}
/* ---------------RESPONSIVE---------------------- */
@media screen and (max-width: 1000px) {
  .classRooms {
    padding: 1rem;
  }
  .classromRulesContainer {
    width: 100%;
  }
  .classroomsRules {
    width: 100%;
  }
}
