html,
body {
  width: 100%;
}
.title {
  color: var(--secondary-color);
}
.GreatHallClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border-size) solid var(--border-color);
  background-color: var(--light-background-color);
  height: 201vh;
}

button {
  background-color: var(--secondary-color);
}
