.newsFeedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 219, 219);
  border: 3px solid goldenrod;
  padding: 5px;
}
.newsAdminContainer {
  border: 2px solid goldenrod;
  width: 100%;
}
