.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 3px solid var(--border-color);
  background-color: rgb(21, 20, 20);
  width: 50%;
  height: 100vh;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
}
.messageNamecontainer {
  width: 100%;
}
.messageSender {
  color: var(--primary-color);
  font-weight: bold;
  font-size: small;
}
.message {
  display: flex;
  flex-direction: column;
  top: 0;

  gap: 0.5rem;
  align-items: center;
  padding: 0.2rem;
  margin: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  word-break: break-word;
}
.chatMessages {
  width: 100%;
  color: var(--primary-color);
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  overflow-y: auto;

  scrollbar-width: thin;
}

.RrchatForm {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.chatInput {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .chatContainer {
    width: 90%;
    height: 100vh;
    text-wrap: break-word;
  }
  .chatMessages {
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 100%;
  }
  .messageSender {
    font-size: small;
    width: auto;
    top: 0;
    left: 0;
  }
  .message {
    width: 100%;
    font-size: small;
    flex-direction: column;
    align-items: flex-start;
  }
}
